<h1 class="title">Coding Nexus</h1>

<h3 class="caption">Please wait while I tidy things up around here :)</br>Feel free to check my works and contact me however you can.</h3>

<div class="social-icons">
  <span><%= link_to image_tag('icons/github_128.png'), "http://github.pedroaranha.com" %></span>
  <span><%= link_to image_tag('icons/linkedin_128.png'), "http://linkedin.pedroaranha.com" %></span>
  <span><%= link_to image_tag('icons/tumblr_128.png'), "http://blog.pedroaranha.com" %></span>
  <span><%= link_to image_tag('icons/mail_128.png'), "mailto:pedroaranha7@gmail.com" %></span>
</div>